@import "tailwindcss";

.calendar-bg{
  background:radial-gradient(circle at top, #eef2ff, #e0e7ff, #f8fafc );
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.calendar-bg {
  background: radial-gradient(circle, #e8edf5, #d1d8e8);
}
